<header class="site-header">
  <div class="wrap header-inner">
    <a class="brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      <a href="{{ site.baseurl }}/assessment/"{% if page.url contains '/assessment' %} class="current"{% endif %}>Assessment</a>
      <a href="{{ site.baseurl }}/work/"{% if page.url contains '/work' %} class="current"{% endif %}>Work</a>
      <a href="{{ site.baseurl }}/writing/"{% if page.url contains '/writing' %} class="current"{% endif %}>Writing</a>
      <a href="{{ site.baseurl }}/about/"{% if page.url contains '/about' %} class="current"{% endif %}>About</a>
    </nav>
  </div>
</header>
