/**
 * Site header
 */

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
}
.navbar {
    background-image: none;
    background-color: white;
}


/* Body Intro syntax */

.navbar-default {
    background-color: white;
}

.navbar-brand {
    font-size: 26px;
}

#fullbody {
    margin-top: 30px;
}

#intro, #blog, #post{
    margin-top: 40px;
}


#headline {
    text-align: center;
}

#potrait {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    padding-top: 30px;
    
}

// #projects img {
//     width: 315px;
//     height: 213px;
// }


#about li{
    margin-top: 30px;
}

#headline h1 {
    font-family: 'Dancing Script', cursive;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
#menu {
    text-align: center;
}
#contact {
    text-align: center;
}

/* progress bar styling */
.progress {background: rgba(245, 245, 245, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 25px; height: 20px;}
.progress-bar-custom {background: rgba(0, 136, 255, 1);}

#abouttext {
    text-align: justify;
}

ul {
    list-style: none;
}

.col-sm-10 .col-sm-4 {
    padding:0;
}

/* footer */

.site-footer {
    text-align: center;
}