/**
 * Site header
 */

.navbar {
    background-image: none;
    background-color: white;
}


/* Body Intro syntax */

.navbar-default {
    background-color: white;
}

#fullbody {
    margin-top: 30px;
}

#intro, #blog, #post{
    margin-top: 40px;
}


#headline {
    text-align: center;
}

#potrait {
    text-align: center;
}

h2 {
    text-align: center;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
#menu {
    text-align: center;
}
#contact {
    text-align: center;
}

/* progress bar styling */
.progress {background: rgba(245, 245, 245, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 25px; height: 20px;}
.progress-bar-custom {background: rgba(0, 136, 255, 1);}

#abouttext {
    text-align: justify;
}

ul {
    list-style: none;
}

/* footer */

.site-footer {
    text-align: center;
}